.root {
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.headerContainer {
  //border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderContainer {
  //border: 1px solid fuchsia;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  row-gap: 30px;
}


.cleanButton {
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
  color: white;
  background-color: rgba(254,95,30, 0.8);
  margin-top: 15px;
  margin-left: 20%;

  &:hover {
    cursor: pointer;
    background-color: rgba(254,95,30, 0.7);
  }
}
